@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Vazirmatn-FD-NL-Light.woff2') format('woff2');
}
@font-face {
  font-family: VazirBold;
  font-weight: bold;
  src: url('./assets/fonts/Vazirmatn-FD-NL-Bold.woff2') format('woff2');
}
@font-face {
  font-family: VazirMedium;
  font-style: normal;
  font-weight: lighter;
  src: url('./assets/fonts/Vazirmatn-FD-NL-Medium.woff2') format('woff2');
}

html {
  direction: rtl;
}
.bold {
  font-family: VazirBold;
}
.light {
}
.medium {
  font-family: VazirMedium;
}
body {
  font-family: Vazir;
}
.swiper {
  margin: 100px auto;
  width: 320px;
  height: 240px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.swiper-3d .swiper-slide-shadow {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
